In [1]:
from pyspark.sql import SparkSession

spark = SparkSession \
        .builder \
        .master('spark://10.10.28.172:7077') \
        .appName('general_queries') \
        .enableHiveSupport() \
        .getOrCreate()

spark.sql('use twitter_data')
spark.sql('show tables').show()

22/04/24 09:57:02 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
22/04/24 09:57:23 WARN HiveConf: HiveConf of name hive.stats.jdbc.timeout does not exist
22/04/24 09:57:23 WARN HiveConf: HiveConf of name hive.stats.retries.wait does not exist
22/04/24 09:57:35 WARN ObjectStore: Failed to get database global_temp, returning NoSuchObjectException

+------------+--------------------+-----------+
|    database|           tableName|isTemporary|
+------------+--------------------+-----------+
|twitter_data|      processed_data|      false|
|twitter_data|            raw_data|      false|
|twitter_data|             results|      false|
|twitter_data|    textblob_results|      false|
|twitter_data|       vader_results|      false|
|twitter_data|wordlist2477_results|      false|
+------------+--------------------+-----------+

In [11]:
spark.sql('select text from raw_data limit 2;').toPandas()

                                                text
0  @JohnJHarwood John, Now you know how low you a...
1  Polish fuel maker says its refinery in Lithuan...